/* TYPOGRAPHY */

p {
    line-height: 1.7;
}

body em {
    color: inherit;
}

/* OVERWRITE */

div.uk-card-default {
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid #eee;
}

.uk-white {
    color: #fff;
}

p.hr-dark {
    color: #01031f;
}

.uk-dim {
    color: rgb(187 187 187 / 70%);
}

body .uk-button.uk-button-secondary {
    background: #222;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: .3s;
}

a.uk-button.uk-button-primary {
    background: #6CB00B;
    padding-top: 8px;
    padding-bottom: 8px;
}

a:hover {
    text-decoration: none!important;
    transition: .3s;

}

.accent {
    color: #6CB00B
}

.uk-padding-xlarge {
    padding: 120px;
}

/* NAVBAR */

ul.uk-navbar-nav>li>a {
    color: #b5b5b5;
}

nav.uk-navbar-container.uk-navbar-transparent {
    position: relative;
    z-index: 100;
}

/* HERO */

div.hero-form {
    background: white;
    border-radius: 8 px;
}

input.uk-input {
    background-color: #eee;
    border-radius: 50px;
}

textarea.uk-textarea {
    background-color: #eee;
    border-radius: 15px;
}


/* FOOTER */

footer {
    background: #222;
}

.hr-legals li {
    display: inline-block;
    margin-right: 10px;
}