{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <div uk-grid>
            {{ if gt .Params.testimonials 0 }}
            {{ range .Params.testimonials }}
                <div class="uk-width-1-2@s">
                    <p>{{ .review }}</p>
                    <em><strong>{{ .name }}</strong></em>
                    <hr>

                </div>
            {{ end }}
            {{ else }}
                <h4>No testimonials have been added yet</h4>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}