<div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-dark; cls-inactive: uk-navbar-transparent; top: 200">
    <nav class="uk-navbar-container">
        <div class="uk-container uk-container-expand">
            <div uk-navbar>
                <div class="uk-navbar-left">
                    <h1 class="uk-text-bold uk-text-large uk-margin-remove"><span class="uk-dim">Landscaping <span class="accent">Tecpoyotl Inc.</span></span></h1>

                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav uk-text-bold">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</div>