{{ partial "global/head" . }}
{{ partial "home/hero" . }}

{{ range .Site.Data.homelayout.home_sections }}


{{ if eq "home-testimonial" .template }}
<div class="uk-section">
  <div class="uk-container">
    <div class="uk-slider-container-offset" uk-slider="autoplay: true">
      <div class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1">
          <ul class="uk-slider-items uk-child-width-1-2@s uk-grid" uk-height-match="target: > div > .uk-card">
            {{ range where $.Site.Pages "Type" "testimonials" }}
            {{ range .Params.testimonials }}
              <li uk-height-match>
                  <div class="uk-card uk-card-default">
                      <div class="uk-card-body">
                          <p>{{ .review | truncate 150 }}</p>
                          <strong>{{ .name }}</strong>
                      </div>
                  </div>
              </li>
            {{ end }}
            {{ end }}
          </ul>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
      </div>
        <p class="uk-text-right">
          <a class="uk-button uk-button-default" href="/testimonials">View all testimonials</a>
        </p>
  </div>
  </div>
</div>
{{ end }}




{{ end }}

{{ partial "global/footer" . }}