<div class="uk-section uk-section-small">
    <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-large-top" uk-grid>
        <a href="">
            <div style="background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/uploads/gardening.jpg') no-repeat center;">
                <div class="uk-padding-xlarge uk-light">
                    <h3 class="uk-text-bold">Gardening</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, odio aperiam ut id et incidunt obcaecati veniam itaque esse assumenda, eligendi nesciunt placeat sint tempora blanditiis sapiente vel! Odit, eveniet?</p>
                </div>
            </div>
        </a>
        <a href="">
            <div style="background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/uploads/lawncare.jpg') no-repeat center;">
                <div class="uk-padding-xlarge uk-light">
                    <h3 class="uk-text-bold">Lawn Care</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, odio aperiam ut id et incidunt obcaecati veniam itaque esse assumenda, eligendi nesciunt placeat sint tempora blanditiis sapiente vel! Odit, eveniet?</p>
                </div>
            </div>
        </a>
        <a href="">
            <div style="background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/uploads/backyard.jpg') no-repeat center;">
                <div class="uk-padding-xlarge uk-light">
                    <h3 class="uk-text-bold">Landscaping</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, odio aperiam ut id et incidunt obcaecati veniam itaque esse assumenda, eligendi nesciunt placeat sint tempora blanditiis sapiente vel! Odit, eveniet?</p>
                </div>
            </div>
        </a>
        
    </div>
</div>