<div class="uk-cover-container" uk-height-viewport>
    {{ partial "global/navbar" . }}

    <div class="hero-text uk-light uk-width-3-5">
        <h4>Let us help you</h4>
        <h1 class="uk-text-bold heading">Find The Perfect Dream Home</h1>
        <p class="uk-text-normal">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est illo nobis necessitatibus, soluta non, tempora, commodi ipsa quis modi sequi at odit eos inventore nostrum ducimus itaque quam provident ratione?</p>
        <a href="" class="uk-button-secondary uk-button">Search Homes</a>
    </div>
    <iframe src="https://www.youtube.com/embed/wmGvDWSb9A8?controls=0" autoplay loop muted playsinline uk-cover frameborder="0"></iframe>
</div>