<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-middle">
            <div class="uk-width-1-2">
                <div>
                    <h2 class="uk-text-bold">Offering <span class="accent">Full Service Landscape Care</span> and Management in Orange County</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corrupti reiciendis, ratione blanditiis et hic nulla vel qui fugiat omnis nesciunt, libero mollitia soluta sunt perferendis debitis aliquid ea maiores?</p>
                    <a href="" class="uk-button uk-button-primary">Learn More</a>
                </div>
            </div>
            <div class="uk-width-1-2">
                <div class="uk-text-center">
                    <img src="/uploads/nice-backyard.jpg" alt="green backyard" width="500">
                </div>
            </div>
        </div>
    </div>
</div>