<div class="uk-section">
    <div class="uk-container">
        <div class="uk-flex uk-flex-center">
            <div>
                <div class="uk-flex uk-flex-middle uk-grid-large" uk-grid>

                    <div class="uk-text-center">
                        <h1 class="uk-text-bold uk-heading-line"><span>Landscaping <span class="accent">Tecpoyotl Inc.</span></span></h1>
                        <p class="uk-margin-remove uk-text-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure doloribus animi, necessitatibus quam aperiam vel reprehenderit esse maiores ratione dolor explicabo quisquam, quos sunt! Iste odio consequatur tempora optio. Aperiam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis explicabo repellat tempore deleniti. Necessitatibus, eius nostrum? Maiores maxime quo similique reiciendis voluptatibus voluptas.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>