<div class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-flex uk-flex-center">
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-flex uk-flex-middle uk-grid-large" uk-grid>
                    <div>
                        <h1 class="uk-white uk-text-bold">10% Off</h1>
                    </div>
                    <div>
                        <h3 class="uk-white uk-text-bold uk-margin-remove">Tree Removal</h3>
                        <p class="uk-margin-remove hr-dark uk-text-bold">10% Off tree removal with this coupon. not valid with other services. Expires 3/1/21</p>
                    </div>
                    <div>
                        <a href="" class="uk-button uk-button-secondary">Redeem Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>